                                    body {
                                        font-family: sans-serif;
                                        margin: 0;
                                        padding: 0;
                                        background-color: #f4f4f4;
                                    }
                                    
                                    header {
                                        background: #333;
                                        color: #fff;
                                        text-align: center;
                                        padding: 1rem 0;
                                    }
                                    
                                    nav ul {
                                        padding: 0;
                                        list-style: none;
                                    }
                                    
                                    nav ul li {
                                        display: inline;
                                        margin-right: 20px;
                                    }
                                    
                                    section {
                                        padding: 20px;
                                        margin: 20px;
                                        background: #fff;
                                        border-radius: 8px;
                                        box-shadow: 0 0 10px rgba(62, 255, 165, 0.625);
                                    }
                                    
                                    footer {
                                        background: #333;
                                        color: #fff;
                                        text-align: center;
                                        padding: 1rem 1;
                                        position: fixed;
                                        height: 35px;
                                        bottom: 0;
                                        width: 100%;
                                    }
                                    
                                    nav ul li {
                                        display: inline;
                                        background-color: rgb(255, 255, 255);
                                        margin-right: 20px;
                                    }
                                    
                                    a {
                                        text-decoration: none;
                                        color: rgb(53, 204, 23);
                                    }
                                    
                                    actividades-contenedor {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        flex-wrap: wrap;
                                        margin: 20px;
                                    }
                                    
                                    .actividad {
                                        flex: 1;
                                        text-align: center;
                                        margin: 20px;
                                        background: #fff;
                                        border-radius: 8px;
                                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                                        padding: 20px
                                    }